.rep-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 5px;
  height: 35rem;
  width: 35rem;
  padding-top: 0;
  margin: 2em;
  background-color: #F1FAEE;
  box-shadow:  8px 8px 30px #345d77,
  -8px -8px 30px #5699c3;
  font-family: 'Khula', sans-serif;

}

.rep-img {
  height: 200px;
  width: 150px;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.bio-info {
  display: flex;
  justify-content: space-around;
}

.bio-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.rep-match {
  font-size: 17px;
  margin-top: .5em;
  background-color: #E63946;
  border-radius: 30px;
  color: white;
  padding: .5em;
  font-weight:700;
  align-self: center;
}

.rep-contact-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 1em;
}

.mail-icon {
  font-size: 20px;
}

.contact-text {
  color: black;
}

.reelection-text {
  background-color: #E63946;
  color: white;
  font-weight:700;
  padding: .5em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}