@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loader {
  width: 7rem;
  height: 7rem;
  border: 20px solid #fff;
  border-top: 20px solid #e63946;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
