.quiz-results-container {
  display: flex;
  font-family: 'Khula', sans-serif;
}

.user-quiz-results {
  background-color: #A8DADC;
  border-radius: 20px;
  width: 75%;
  padding: 2em;
  margin: 1em;
  box-shadow:  8px 8px 20px #345d77;
}

.state-wide-comparison {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 20%;
  padding: 2em;
  margin: 1em;
  background-color: #A8DADC;
  box-shadow:  8px 8px 20px #345d77;
}

.result-tile-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.result-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 10px;
  width: 20%;
  color: white;
  padding: 1em;
  margin: 1em;
  background: rgb(230,57,70);
  background: radial-gradient(circle, rgba(226,91,106,1) 0%, rgba(230,57,70,1) 100%);
}

.percentage {
  font-size: 30px;
  font-weight: 500;
}

.state-percentage {
  font-size: 50px;
}

.state-percentage-text {
  font-size: 25px;
}

