.quiz-header-container {
  padding: 1rem;
  background-color: #457b9d;
  border-radius: 30px;
  margin: 1rem;
  padding: 1rem;
}

.quote {
  text-align: center;
  color: white;
  font-size: larger;
}

.hook-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #457b9d;
  color: white;
  text-align: center;
  margin-top: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.age-dropdown {
  margin-right: 1em;
}

.gender-hook,
.age-hook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  align-items: center;
  background-color: #f1faee;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 2em;
  border-radius: 30px;
  box-shadow: 8px 8px 30px #345d77, -8px -8px 30px #5699c3;
}

select,
input,
button,
.quote,
.input-tagline,
.gender-hook,
.age-hook {
  font-family: "Khula", sans-serif;
}

.input-tagline {
  padding: 0.3rem;
  font-size: 25px;
  text-align: center;
}
.input-container {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.age-dropdown,
.zipcode-input {
  margin-bottom: 2em;
  width: 13em;
  height: 2.4em;
  border-radius: 50px;
  border: 1px solid #1d3557;
  text-align: center;
  cursor: pointer;
}

.quiz-header {
  font-family: "Khula", sans-serif;
  font-size: 20px;
}

.submit-btn {
  width: 14em;
  border-radius: 50px;
  background-color: #1d3557;
  border: none;
  padding: 0.5em;
  color: white;
  margin-top: 0.5em;
  font-family: "Khula", sans-serif;
  cursor: pointer;
  font-size: 20px;
}

.submit-btn:hover {
  background-color: #41679b;
}

.statement {
  text-align: center;
}

@media screen and (max-width: 700px) {
  .likert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
  }

  .quiz-header-container {
    width: 100%;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .hook-header {
    display: flex;
    flex-direction: column;
  }

  .age-hook {
    margin-top: 1em;
  }

  .quiz {
    padding: 1em;
  }

  .quote {
    font-size: large;
  }

  .age-dropdown {
    margin-right: 0;
  }
}
