.quiz {
  display: flex;
  flex-direction: column;
}

.likert {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
}