.likert {
  display: flex;
  list-style: none;
  width:100%;
  margin:0;
  justify-content: center;
  border-bottom:2px solid #efefef;
  font-family: 'Mukta Vaani', sans-serif;
}

.statement {
  font-family: 'Khula', sans-serif;
  font-size: 1.3rem;
}
/*
form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:50%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}

form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  margin-left:-6px;
} */

.likert > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5em 1.5em 1.5em;
}

input {
  cursor: pointer;
}
