.state-dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #457b9d;
  border-bottom: 3px solid #457b9d;
  font-family: "Khula", sans-serif;
  font-size: 1rem;
  padding: 1rem;
}

.state-dropdown,
.go-button {
  font-family: "Khula", sans-serif;
  border-radius: 30px;
  border: none;
  padding: 0.2em;
  font-size: 1rem;
  border: none;
  align-self: center;
  text-align: center;
  cursor: pointer;
}

.go-button {
  background-color: #e63946;
  color: white;
  padding: 0.58rem;
  outline: 2px, solid, #1d3557;
}

.state-form-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.dropdown-error-msg {
  height: 1000%;
  width: 100%;
  padding: 1em;
  border-radius: 10px;
  border: 1px solid #f1faee;
  background-color: #1e3456;
  color: white;
  font-family: "Khula", sans-serif;
}

@media screen and (max-width: 700px) {
  .state-dropdown-container {
    padding: 0.5rem;
  }
}
