.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8.5rem;
  width: 100%;
  background-color: #1d3557;
  font-size: 2.3rem;
  padding: 0.5em;
  color: white;
  top: 0%;
  position: sticky;
}

.site-title {
  display: flex;
  align-items: center;
}

.title {
  margin-left: 0.3em;
}

.home-btn {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  color: #1d3557;
  background-color: white;
  border-radius: 30px;
  border: none;
  font-family: "Khula", sans-serif;
  padding: 0.5em 0.7em;
  float: right;
  cursor: pointer;
}

h1 {
  font-family: "IM Fell Great Primer", serif;
}

.header-controls {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 1.6rem;
  }
}
