.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 100%;
  background-color: #1D3557;
  font-size: 2.3rem;
  padding: .5em;
  color: white;
  top: 0%;
  position: sticky;

}


h1 {
  font-family: 'IM Fell Great Primer', serif;
}
