.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  width: 100%;
  background-color: #1D3557;
  font-size: 2.3rem;
  padding: .5em;
  color: white;
}

.site-title, .state-dropdown-container {
  display: flex;
  align-items: center;
}

.title {
  margin-left: 0.3em;
}

.state-dropdown {
  margin-left: 4em;
  font-family: 'Khula', sans-serif;
  border-radius: 30px;
  border: none;
  padding: 0.2em;
  font-size: 1rem;
  border: none;
}

.home-btn {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  color: #1D3557;
  background-color: white;
  border-radius: 30px;
  border: none;
  font-family: 'Khula', sans-serif;
  padding: 0.5em 0.7em;
  float: right;
}


h1 {
  font-family: 'IM Fell Great Primer', serif;
}

