
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  background-color: #E63946;
  width: 100%;
  color: white;
  padding: .8em;
  position: sticky;
  bottom: 0%;
}

a {
  font-family: 'Khula', sans-serif;
  text-decoration: none;
  color: white;
  margin: .5em;
}